In [2]:
import numpy as np

# 1.elementry addition of two similiar arrays

In [4]:
a = np.array([[1,2,3,],[4,5,6]])
b = np.array([[4,5,6,],[1,2,3]])
print(a,b)
c = a + b
c

[[1 2 3]
 [4 5 6]] [[4 5 6]
 [1 2 3]]

array([[5, 7, 9],
       [5, 7, 9]])

# 2.Multiplying a matrix (numpy array) by a scalar

In [6]:
a1 = np.arange(0,6).reshape(2,3)
a1*2

array([[ 0,  2,  4],
       [ 6,  8, 10]])

# Create an identity matrix of dimension 4-by-4

In [8]:
a = np.eye(4)
a

array([[1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.]])

# Convert a 1-D array to a 3-D array

In [9]:
a = np.arange(0,32).reshape(2,4,4)
a

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11],
        [12, 13, 14, 15]],

       [[16, 17, 18, 19],
        [20, 21, 22, 23],
        [24, 25, 26, 27],
        [28, 29, 30, 31]]])

# Horizontal Stacking of Numpy Arrays

In [11]:
a = np.arange(0,6).reshape(2,3)
b = np.arange(6,12).reshape(2,3)
c = np.hstack((a,b))
c

array([[ 0,  1,  2,  6,  7,  8],
       [ 3,  4,  5,  9, 10, 11]])

# Vertical Stacking of Numpy Arrays

In [12]:
a1 = np.array([[1,2],
               [3,4],
               [5,6]])

a2 = np.array([[7,8],
               [9,10],
               [10,11]])
c = np.vstack((a1,a2))
c

array([[ 1,  2],
       [ 3,  4],
       [ 5,  6],
       [ 7,  8],
       [ 9, 10],
       [10, 11]])

## Random 10x10 array

In [3]:
a = np.arange(0,100).reshape(10,10)
a

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14, 15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29],
       [30, 31, 32, 33, 34, 35, 36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49],
       [50, 51, 52, 53, 54, 55, 56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69],
       [70, 71, 72, 73, 74, 75, 76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89],
       [90, 91, 92, 93, 94, 95, 96, 97, 98, 99]])

In [4]:
a.T

array([[ 0, 10, 20, 30, 40, 50, 60, 70, 80, 90],
       [ 1, 11, 21, 31, 41, 51, 61, 71, 81, 91],
       [ 2, 12, 22, 32, 42, 52, 62, 72, 82, 92],
       [ 3, 13, 23, 33, 43, 53, 63, 73, 83, 93],
       [ 4, 14, 24, 34, 44, 54, 64, 74, 84, 94],
       [ 5, 15, 25, 35, 45, 55, 65, 75, 85, 95],
       [ 6, 16, 26, 36, 46, 56, 66, 76, 86, 96],
       [ 7, 17, 27, 37, 47, 57, 67, 77, 87, 97],
       [ 8, 18, 28, 38, 48, 58, 68, 78, 88, 98],
       [ 9, 19, 29, 39, 49, 59, 69, 79, 89, 99]])

### creating a boolean array

In [6]:
# creating a 3x3 array full of true
a = np.ones((3,3),dtype=bool)
a

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [11]:
a = np.full((3,3),True,dtype=bool)
a

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

### from an array of 0 to 9 extract all the odd numbers

In [13]:
a = np.arange(0,10)
a[a%2==1]

array([1, 3, 5, 7, 9])

#### replace all the odd number with -1

In [22]:
a = np.arange(1,11)
a[a%2!=0]=-1
a

array([-1,  2, -1,  4, -1,  6, -1,  8, -1, 10])

#### replace all odd number with -1 without changing the array

In [25]:
# np.where(condition,x,y) is a function used in conditional situations. First condition will be given, if the condition is
# satisfying,then x will work ,if not y will work. Here if array value is odd, then -1 will be assigned , if not the 
# corresponding array value will be assigned
a = np.arange(0,10)
out = np.where(a%2==1,-1,a)
print(a)
print(out)

[0 1 2 3 4 5 6 7 8 9]
[ 0 -1  2 -1  4 -1  6 -1  8 -1]

In [6]:
#zero array
arr = np.zeros(3,dtype=int)
arr1 = np.zeros((3,3),dtype=int)
arr1
/# arr

array([[0, 0, 0],
       [0, 0, 0],
       [0, 0, 0]])

In [7]:
#array with linear spacing between numbers
arr = np.linspace(1,22,10)
arr

array([ 1.        ,  3.33333333,  5.66666667,  8.        , 10.33333333,
       12.66666667, 15.        , 17.33333333, 19.66666667, 22.        ])

In [9]:
arr=np.random.randint(12,45,100).reshape(10,10)
arr

array([[24, 41, 40, 31, 33, 21, 24, 25, 31, 17],
       [13, 14, 37, 39, 40, 35, 19, 15, 14, 29],
       [14, 17, 40, 44, 26, 42, 17, 20, 22, 43],
       [22, 40, 38, 18, 22, 25, 16, 31, 31, 26],
       [25, 33, 42, 27, 33, 19, 13, 24, 35, 15],
       [31, 31, 16, 12, 12, 28, 19, 26, 26, 33],
       [41, 13, 32, 26, 29, 32, 43, 18, 22, 18],
       [23, 30, 33, 30, 28, 29, 12, 35, 34, 44],
       [25, 34, 16, 18, 25, 13, 18, 34, 32, 23],
       [16, 15, 37, 19, 35, 14, 41, 43, 33, 42]])

In [13]:
arr = np.arange(0,5)
arr1 = np.arange(1,6)
a=(arr+5)+arr1
a

array([ 6,  8, 10, 12, 14])

In [24]:
arr= np.arange(0,24).reshape(4,-1)
print(arr.shape)
arr1 = np.arange(1,25).reshape(4,-1)
print(arr1.shape)

(4, 6)
(4, 6)